<h3>CALCULADORA</h3>
<input type="number" value="{{resolucao}}">
<br>
<br>
<button (click)="mostrarNum('9')">9</button>
<button (click)="mostrarNum('8')">8</button>
<button (click)="mostrarNum('7')">7</button>
<br>
<button (click)="mostrarNum('6')">6</button>
<button (click)="mostrarNum('5')">5</button>
<button (click)="mostrarNum('4')">4</button>
<br>
<button (click)="mostrarNum('3')">3</button>
<button (click)="mostrarNum('2')">2</button>
<button (click)="mostrarNum('1')">1</button>
<br>
<button (click)="mostrarNum('0')">0</button>
<button (click)="mostrarResultado('=')">=</button>
<br>
<br>
<button id="delete" (click)="deletar()">AC</button>
<br>
<br>
<button (click)="mostrarOperacao('/')">&divide;</button>
<button (click)="mostrarOperacao('*')">&times;</button>
<button (click)="mostrarOperacao('+')">+</button>
<button (click)="mostrarOperacao('-')">-</button>
<br>
<br>
<h4>Resultado: {{resolucao}}</h4>